<nav class="navbar-default navbar-static-side" role="navigation">
    <div class="sidebar-collapse">
        <ul class="nav metismenu" id="side-menu">
            <li class="nav-header">
                <div class="dropdown profile-element">
                    <a data-toggle="dropdown" class="dropdown-toggle" href="#">
                        <span class="block m-t-xs"> <strong class="font-bold">Rene Ramirez</strong> </span>
                    </a>
                </div>
                <div class="logo-element">
                    RR+
                </div>
            </li>
            <li [ngClass]="{active: activeRoute('mainView')}">
                <a [routerLink]="['/mainView']"><i class="fa fa-twitter"></i> <span class="nav-label">Twitter Controller</span></a>
            </li>
            <li [ngClass]="{active: activeRoute('minorView')}">
                <a [routerLink]="['/minorView']"><i class="fa fa-slack"></i> <span class="nav-label">Slack Controller</span> </a>
            </li>
        </ul>

    </div>
</nav>